.main-font {
    font-family: 'Roboto', 'Raleway', sens-serif;
    color: var(--main-heading-color);
    --main-heading-color: #212121;
    --content-adress-color: #757575;
    --logo-bgr-blue: #2196F3;
    --logo-black: #000000;
    --text-hover-wight: #ffffff;
}

ul {
    list-style: none;
}
.title-font {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 6%;
    
}
.desc-font {
    color: var(--content-adress-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 3%;
   
}
.btn-font {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 3%;
    text-align: center;
    cursor: pointer;
    
}
.btn-font:hover {
    color: var(--text-hover-wight);
    background-color: var(--logo-bgr-blue);
}
.btn-font:focus {
    color: var(--text-hover-wight);
    background-color: var(--logo-bgr-blue);
}
.link-text a {
    color: inherit;
    font-style: inherit;
    text-decoration: none;
}
.link-text a:hover {
    background-color: var(--logo-bgr-blue);
}
.link-text a:focus {
    background-color: var(--logo-bgr-blue);
}
.link-active:hover {
    color: var(--logo-bgr-blue)
}
.link-active:focus {
    color: var(--logo-bgr-blue);
}
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: var(--logo-black);
    text-decoration: none;
    line-height: auto;
}
.logo:hover {
    color: var(--text-hover-wight);
    background-color: var(--logo-bgr-blue);
}
.logo:focus {
    color: var(--text-hover-wight);
    background-color: var(--logo-bgr-blue);
}
.logo-blue {
    color: var(--logo-bgr-blue);
}

